@use "variables.scss" as *;
@use "bulma/bulma";

html {
  font-size: 16px;
}

a {
  color: inherit;

  &:hover {
    color: $tertiary-action;
  }
}

.is-paddingless {
  padding: 0;
}

.button.is-inverted {
  background-color: $inverted !important;
}

// Titres globaux
.title {
  font-family: $family-title;

  &.is-1 {
    font-size: $size-title-1;

    @media screen and (min-width: $b-desktop) {
      font-size: $size-title-1-desktop;
    }
  }

  &.is-2 {
    font-size: $size-title-2;

    @media screen and (min-width: $b-desktop) {
      font-size: $size-title-2-desktop;
    }
  }

  &.is-3 {
    font-size: $size-title-3;
  }
}

.subtitle {
  font-family: $family-regular;
  font-weight: 600;
}

// Contenu description
.description {
  margin-top: $gap;

  p {
    margin-bottom: 20px;
  }

  ul {
    list-style-type: disc;
    margin-left: $gap;
  }

  ol {
    margin-bottom: 20px;
    margin-left: $gap;
  }
}

// Liens dans le texte
.text a {
  color: $tertiary;

  &:hover {
    color: $tertiary;
    text-decoration: underline;
  }
}

// Utilitaires
.is-fullheight {
  height: 100%;
}

// Tags de statut
.tags {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: calc($gap / 2);

  @media screen and (min-width: $b-desktop) {
    justify-content: flex-start;
  }
}

.tag {
  border-radius: 19px;
  padding: calc($gap/2) $gap;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  height: auto;
  font-weight: 600;
  font-size: $size-regular;
  font-family: $family-regular;

  &.rose {
    background: $tag-past-light;
  }
  &.violet {
    background: $tertiary-light;
  }
  &.is-past {
    background: $tag-past;
  }
  &.is-present {
    background: $tag-present;
  }
  &.is-future {
    background: $tag-future;
  }
}

// Section utile (background violet clair)
.utile {
  background: $tertiary-light;
}

// Info box avec bordure
.info {
  border-left: 9px solid $tertiary;
  margin-bottom: calc($gap*2);

  p.intro {
    font-style: italic;
    &:not(:last-child) {
      margin-bottom: $gap;
    }
  }
}

// Groupe box
.groupe {
  background: $grey-lighter;

  .title {
    text-align: center;
  }

  .annee {
    font-size: $size-small;
    color: $grey;
  }

  .training {
    font-size: $size-small;
    font-weight: 600;
  }

  ul {
    margin: $gap 0 $gap $gap;
    list-style-type: "→";
    padding-bottom: $gap;
    border-bottom: 2px solid $grey-light;

    li {
      padding-left: calc($gap/2);
    }
  }

  .details {
    font-size: $size-regular;
    font-weight: 600;
  }
}